<h2>&nbsp;</h2>
<div class="alert alert-success" role="alert" style="width: 60%">
  <h2><%= @user1 %> <%= @following ? "follows" : "does not follow" %> <%= @user2 %></h2>
</div>
<a href="/">Back to Query Page</a>
