<!DOCTYPE html>
<html>
<head>
  <title>Who Follows...</title>
  <link rel='shortcut icon' href='/favicon.png' type='image/png' />
  <link href="bootstrap.css" rel="stylesheet">
  <style>
    table { table-layout: fixed; }
    table th, table td { overflow: hidden; }
  </style>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="jquery-1.7.min.js" type="text/javascript"></script>
  <script src="bootstrap.js"></script>
</head>

<body>
	<div class="navbar" style="z-index: 1;">
		<a href="https://github.com/andypiper/sinatra-cf-twitter"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 3;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
	    <div class="navbar-inner">
	      <div class="container">
	        <a id="connected" :href="#" class="brand">Who Follows...?</a>
	        <ul class="nav">
		      <li class="dropdown">
			    <a data-toggle="dropdown" href="#">Built with <b class="caret"></b></a>
			    <ul class="dropdown-menu">
			  	  <li><a href="https://my.cloudfoundry.com/signup/hack" target="_blank">Cloud Foundry</a></li>
				  <li><a href="http://www.sinatrarb.com/" target="_blank">Sinatra</a></li>
				  <li><a href="http://redis.io/" target="_blank">Redis</a></li>
				  <li><a href="http://twitter.github.com" target="_blank">Bootstrap</a></li>
			    </ul>
			  </li>
		    </ul>
	      </div>
	    </div><!-- /navbar-inner -->
	  </div><!-- /navbar -->

  <div class="container">
	<div>
    <%= yield %>
    </div>
  </div>

</body>	
</html>